
body {
    font-family: Arial, sans-serif; 
    text-align: center; 
    margin: 40px; 
    background-color: #FADADD; 
}

#container {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    height: 100vh; 
}

#image-container {

}

#question {
    font-family: 'Sacramento', cursive; 
    font-size: 20px; 
}

#options {
    margin-top: 20px; 
}

button {
    padding: 5px 15px; 
    margin: 0 10px; 
    font-size: 18px; 
    font-family: 'Sacramento', cursive; 
    background-color: #FB607F; 
    color: white; 
    border: none; 
    cursor: pointer;
}

